<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  
<head>
	<title>ATS: ${path}</title>
	<link rel="stylesheet" type="text/css" href="static/${theme}/testerman.css" />
</head>
<body>
	<div id="page">
		<div id="banner">
			<div id="header">
				<a id="logo" href="/"><img src="static/${theme}/testerman-logo.png" alt="testerman" /></a>
			</div>
		</div>
		<div id="main">
			<div id="content" class="wiki">
				<div class="wikipage">

<!-- quick navigation -->
<a href="/">home</a>
#foreach ($webpath in $webpaths)
&gt; <a href="browser?${webpath.path}">${webpath.label}</a>
#end

<h2>Execute</h2>
<form name="run" method="GET" action="run_ats" target="_blank">
<input type="hidden" name="path" value="${path}" /> 
#if ($groups)
<p>
Select groups to run:<br />
	#foreach ($group in $groups)
	<input type="checkbox" name="groups" value="${group.name}" checked="true">${group.name}: ${group.description}</input><br />
	#end
</p>
#end
<p>
	Run this ATS with the following profile:
	<select name="profile" onchange="document.getElementById('customparameters').style.display = (this.options[this.selectedIndex].value == '__custom__') ? 'block' : 'none';">
		<option value="__default__">(default)</option>
		#if ($parameters)
		<option value="__custom__">(custom - see below)</option>
		#end
		#foreach ($profile in $profiles)
		<option value="${profile.name}">${profile.name}</option>
		#end
	</select>
</p>
#if ($parameters)
## This block only appears if __custom__ has been selected above
<div id="customparameters" style="display:none">
	Use the following custom parameters:<br />
	<table>
	#foreach ($variable in $parameters)
	<tr><td>${variable.name}:</td><td><input type="text" name="${variable.name}" value="${variable.defaultValue}" /></td></tr>
	#end
	</table>
</div>
#end
<input type="submit" value="Run (in a new window)" />
</form>
<h2>View Previous Runs Results</h2>
<p>
#if ($logs)
	<table>
	<tr><td>Run date</td><td>User</td><td></td><td></td></tr>
	#foreach ($entry in $logs)
		<tr>
		<td>${entry.date}</td><td>${entry.username}</td>
		<td><a class="wiki" href="view_log?${entry.filename}">view</a></td>
		<td><a class="wiki" href="download_log?${entry.filename}">download</a></td>
		</tr>
	#end
	</table>
#else
There are no available execution logs for this ATS.
#end
</p>

				</div>
			</div>
		</div>
	</div>
</body>
	 
</html>
