<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  
<head>
	<title>Testerman: browsing ${path}</title>
	<link rel="stylesheet" type="text/css" href="/static/testerman.css" />
</head>
<body>
	<div id="page">
		<div id="banner">
			<div id="header">
				<a id="logo" href="/"><img src="/static/testerman-logo.png" alt="testerman" /></a>
			</div>
		</div>
		<div id="main">
			<div id="content" class="wiki">
				<div class="wikipage">

<!-- quick navigation -->
<a href="/">home</a>
#foreach ($webpath in $webpaths)
&gt; <a href="/browser?${webpath.path}">${webpath.label}</a>
#end

<h2>Browsing ${path}:</h2>
<p>
<ul class="browser">
#foreach ($entry in $entries)
	#if ($entry.type == "directory")
	<li class="${entry.type}"><a class="wiki" href="/browser?${path}/${entry.name}">${entry.name}</a></li>
	#else
	#if ($entry.type == "ats")
	<li class="${entry.type}"><a class="wiki" href="/browser?${path}/${entry.name}">${entry.name}</a></li>
	#else
	<li class="${entry.type}">${entry.name}</li>
	#end
	#end
#end
</ul>	
</p>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
